services:
 mongo:
  image: mongo
  ports:
    - "27017:27017"
  volumes:
    - mongo-data:/data/db

 backend:
  build: ./server
  ports:
    - "3001:3001"
  environment:
    - MONGO_URI=mongodb://mongo:27017/weatherdb
  volumes:
    -  ./server:/app
  depends_on:
    - mongo

 frontend:
   build: ./client
   ports:
      - "3000:3000"
   volumes:
      - ./client:/app
   depends_on:
    - backend
volumes:
  mongo-data:

